:root {
  --color-blue-strong: #1e3163;
  --color-blue-normal: #2d46b9;
  --color-success: #366058;
  --color-yellow: #ffaf00;
  --color-gray: #ababab;
  --color-pink: #f037a5;
  --color-white: #f8f8f8;
  --color-grayless: #f0f0f0;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

body {
  background-color: var(--color-white);
}

main {
  height: 100vh;
}

header {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-strong);
  height: 4rem;
  h1 {
    font-style: italic;
    font-size: 2.4rem;
    width: 57vw;
  }
}

section {
  display: flex;

  height: calc(100vh - 4rem);

  .menu {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-color: var(--color-blue-strong);
    width: 27.5vw;
    border: 5px #f4e869 solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
  }

  .projects-section {
    .createProject {
      background-color: #2d2d2d;
      padding: 1rem;

      input {
        color: black;
      }

      button {
        background: #2d2d;
        padding: 0.1rem 0.2rem;
        border-radius: 0.3rem;
        color: white;
        font-weight: 500;
        border: none;

        &:hover {
          color: black;
          background: rgba(111, 255, 111, 0.867);
        }
      }
    }

    .projectToShow {
      display: flex;
      justify-content: center;

      .cardProject {
        background-color: #f4e869;
        border-radius: 1.5rem;
        width: 14rem;
        padding: 1rem;
        margin-top: 1rem;

        h1 {
          font-weight: normal;
          color: black;
        }

        .select {
          width: 1.5rem;

          background-color: #2d46b9;
        }

        .delete {
          width: 1.5rem;
          background-color: red;
        }
      }
    }
  }

  .todo-list {
    width: 100vw;
    background-color: var(--color-grayless);
    display: flex;
    padding: 1rem 2.5rem;
    gap: 1.2rem;
  }
}

footer {
  padding: 0.5rem 1.5rem;
  position: sticky;

  img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.1rem;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
}

.ToDo {
  background-color: var(--color-blue-normal);
  width: 32%;
  border: 0.25rem solid var(--color-gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Doing {
  background-color: var(--color-yellow);
  width: 32%;
  border: 0.25rem solid var(--color-gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Done {
  background-color: var(--color-success);
  width: 32%;
  border: 0.25rem solid var(--color-gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: var(--color-pink);
  color: white;
  font-weight: bold;
  padding: 1.25rem 8.2rem;
  text-align: center;
  margin: 1rem 0.2rem;
  border-radius: 0.5rem;
}

.newTodo {
  display: flex;
  width: 44vw;
  padding: 1rem;
  color: black;
}

.new-todo-button {
  padding: 0.8rem 1.5rem;
  border: 0.25rem solid white;
  border-radius: 0.5rem;
  background-color: #2d2d2d;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.new-todo-button:hover {
  background-color: rgb(159, 159, 0);
  color: black;
  border: 0.25rem solid whitesmoke;
}

/*  */

.form-button {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

ul li {
  margin: 8px 0px;
}

dialog {
  width: 275px;
  margin: auto;
  background-color: whitesmoke;
  color: black;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  text-align: center;

  @starting-style {
    scale: 0;
  }

  form {
    label {
      color: black;
    }

    input {
      color: black;
    }
  }
}

/* form {
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

form input {
  border-radius: 5px;
  padding: 2px;
}

form button {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #88d66c;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: black;
}

form button:hover {
  background-color: #5a8c48;
}

.button-area {
  display: flex;
  width: 240px;
  justify-content: flex-end;
}

.button-area > button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: #f6fb7a;
  cursor: pointer;
  font-size: 20px;
}

.button-area > button:hover {
  background-color: #717238;
} */
